@model gTarrGames.Web.Api.ProjectMemberApiController

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">

    <p>Project Members</p>
    <br />
    <p>Greg Tarr | gatarr@dmacc.edu | Creator</p>

</div>
