
@{
    ViewBag.Title = "ErrorGenerator";
}

<h2>Error Generator</h2>
<h3>For Testing Purposes</h3>



<div>
    <input type="submit"
           value="Generate Error"
           class="btn btn-danger"
           onclick="location.href='@Url.Action("GenerateError", "Home")'" />
</div>



