@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to gTarr Games!</h1>
    <p class="lead">Try our first game: Cat Simulator!</p>
</div>

<div>
    <p>
            Play Cat Simulator and try to become a feline's best friend! See if you can figure out
            the mind of cat..
     </p>
    <br />
     <p>Create an account so you can save your scores and see how you compeare to other players.</p>
    <br />
</div>