
@{
    ViewBag.Title = "Index";
}

<h2>Homepage for gTarr Games</h2>

<h4>Try our first game: Cat Simulator!</h4>

<p>Play Cat Simulator and try to become a feline's best friend! See if you can figure out 
    the mind of cat..</p>
<br />
<br />
<p>Register an account and login to see current your high scores.</p>

