@model gTarrGames.Web.Models.HighScoresModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>High Scores</title>
</head>
    <body>
        <div class="container">
            <h2>High Scores</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Score</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var score in Model.HighScores)
                        {
                        <tr>
                            <td>
                                @score.PersonId
                            </td>
                            <td>
                                @score.Score
                            </td>
                            <td>
                                @score.DateAttained
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
