@model gTarrGames.Web.Models.HighScoresModel


<div>
    @*Here, we need to display each of the high scores in the high scores table.
    This can be accomplished by getting the highScores object passed to the View() in the 
    HighScoresController.*@
</div>

