@model gTarrGames.Web.Models.MembersModel

@{
    ViewBag.Title = "Index";
}

<h2>Register Here</h2>
<div>
    <p>Create an accout to save your scores.</p>
</div>

<div>
    <div>
       
    </div>
</div>

